.session-4{
    width: 60%;
    margin: auto;
}

.session-4 .title{
    font-size: 23px;
    color: rgb(86, 99, 121); 
}

.session-4 p{
    line-height: 2rem;
    font-size: 17px;
}

.session-4 p label{
    color: rgb(255, 153, 50);
}